.containerCadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    background-color: rgb(0, 0, 0);
    color: aliceblue;   
    
}
.erro_message{
    color: aqua;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
}
label{
    margin-top: 10px;
}
input{
    width:100%;
    outline: none;
    background-color: transparent;
    border: 0px;
    color: bisque;
}
i{
    margin: 5px;
}

.input-field{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    
}
.btn-field{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;        
}

.btn{
    margin-top: 10px;    
    width: 100%;
    background-color: rgb(92, 84, 214);
    color: aliceblue;
    border: none;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: rgb(43, 33, 194);
    cursor: pointer;
    border-radius: 5px;
}

.erro{
    color: crimson;
}

@media screen and (max-width:380px) {

    form{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    
}