.navbar {
  background-color: rgb(78, 78, 78);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 5vh;
}
.listLinks {
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

a {
  color: rgb(41, 41, 41);
  text-decoration: none;
  margin: 5px;
}
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 5px;
}
