.containerHome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    
    
}

img{
    width: 0px;
    animation: showImage;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes showImage {
    to{
        width: 192px;
    }
    
}