.containerSobre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    
    
}